:root {
  --spacing_1x: 4px;
  --spacing_2x: calc(var(--spacing_1x) * 2);
  --spacing_3x: calc(var(--spacing_1x) * 3);
  --spacing_4x: calc(var(--spacing_1x) * 4);
  --spacing_5x: calc(var(--spacing_1x) * 5);
  --spacing_6x: calc(var(--spacing_1x) * 6);

  --color_background_primary: #fff;
  --color_background_emphasised: #aaa;
  --color_font_primary: #000;
  --color_font_neutral: #aaa;
  --color_border_primary: #ddd;

  --font_size_regular: 16px;
  --font_size_h1: 42px;
  --font_size_h2: 36px;
  --font_size_h3: 32px;
  --font_size_h4: 24px;
  --font_size_small: 12px;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_family_primary);
  font-size: var(--font_size_regular);
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
strong {
  font-family: var(--font_family_headings);
}

h2,
h3,
h4 {
  font-weight: 800;
}

strong {
  font-weight: 700;
}

h1 {
  font-weight: 900;
  font-size: var(--font_size_h1);
}

h2 {
  font-weight: 800;
  font-size: var(--font_size_h2);
}

h3 {
  font-size: var(--font_size_h3);
}

h4 {
  font-size: var(--font_size_h4);
}

small {
  font-size: var(--font_size_small);
}

ul {
  margin-inline-start: 1em;
}

p {
  line-height: 1.5em;
}

a,
a:visited {
  display: inline-block;
  padding-block-end: 1px;
  color: var(--color_font_primary);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  transition: border-bottom 0.2s ease-in-out;
}

a:hover,
a:active,
a.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
