.auth {
  display: inline-flex;
}

.auth a {
  font-size: var(--font_size_small);
  color: var(--color_font_neutral);
}

.profileLink {
  border-bottom: none;
  padding-block-end: none;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 400;
  font-size: var(--font_size_small);
}
